.EmptyMailContainer .emptyMailCalendarContainer{
    padding: 16px;
    margin-left: 32px;
    margin-top: 32px;
}
.EmptyMailContainer .emptyMailResultsTitleContainer{
    padding: 16px;
    margin-left: 32px;
    margin-top: 8px;
}
.EmptyMailContainer .emptyMailLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px)
}
.EmptyMailContainer .emptyMailLogoContainer .logo{
    width: 180px;
}
@media (max-width: 480px){
    .EmptyMailContainer{
        overflow-x: hidden;
    }
}